html{
    height: 100%;
    width: 100%;
}

#formEntries{
    margin-top: 250px;
}
#navBar{
    opacity: 0.8;
}

.input{
    height:100px;
    background-color:lightgray;
}

.uk-cover-container {
    width: 100%;
    height: auto;
    opacity: .9;
    padding-top: 50px;
    padding-bottom: 50px;
}

#map {
    height: 450px;
    padding-top: 50px;
}

#searchResults{
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
}

#breweryCard{
    margin-top:auto;
    margin-bottom:auto;
    text-align:left;
}

#returnToTop {
    display:none;
    position: fixed;
    bottom: -77px;
    right: -38px;
    z-index: 99;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

#searchBar{
    padding: 20px;
    background-color:lightgray;
 }

 #submitBtn{
    background-color: white;
    border-radius: 3px;
    border-radius: 50px;
 }

 #formUserState,#formUserCity{
     border-radius: 50px;
 }





