html{
    height: 100%;
    width: 100%;
}

#formEntries{
    margin-top: 250px;
}
#navBar{
    opacity: 0.8;
}

.input{
    height:100px;
    background-color:lightgray;
}

.uk-cover-container {
    width: 100%;
    height: auto;
    opacity: .9;
    padding-top: 50px;
    padding-bottom: 50px;
}

#map {
    height: 300px;
    padding-top: 50px;
}


